/target
/esp
/esp.img
/esp.cdr
/esp.dmg
/esp.hdd
/vcon.log
/parallels/
/parallels-test-*/
/scratch/
/Parallels Error Reports/
.DS_Store
/usbstick.img
/qemu-monitor.sock
/usbstick.cdr
/usbstick-src/
/net.pcap
